body
    // background-image:url('/images/texture.jpg');
    // background-color: slategray;

#form1
    padding 50px
    border 1px solid rgb(199, 255, 122);
    border-radius 10px
    margin-top 10px

